language: rust

rust:
  - stable
  - beta
  - nightly

matrix:
  allow_failures:
    - rust: nightly
  fast_finish: true

cache: cargo

before_script:
  - rustc --version
  - cargo --version

script:
  - cargo build --verbose --all
  - cargo test --verbose --all

after_success:
  - cargo build --release

notifications:
  email:
    on_success: never
    on_failure: change

os:
  - linux

dist: focal

branches:
  only:
    - main
    - master
    - /^v\d+\.\d+\.\d+$/